.form{
    margin: 50px auto;
    background-color: #fff;
    display: flex;
    gap: 30px;
    flex-direction: row;
    width: 600px;
    height: 400px;
    padding: 50px;
    border: 1px solid rgba(0, 0, 0, 0.093);
    border-radius: 8px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.074);
}
.formPic{
    width: 300px;
    height: 100%;
    background-color: rgb(115, 0, 255);
    border-radius: 4px;
}
.imageReg{
    margin: 50px auto;
}
.title{
    font-size: 25px;
    text-align: center;
    color: rgb(49, 49, 49);
    font-weight: 300;
}
.input{
    position: relative;
    width: 100%;
}
.inputWrapper{
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 100%;
}
.noValid{
    color: red;
}
.noaccMessage {
    font-size: 14px;
    text-align: center;
    color: rgba(0, 0, 0, 0.235);
}