.navContainer{
    width: 900px;
    backdrop-filter: blur(7px);
    border-radius: 50px;
    background: linear-gradient(rgba(0, 0, 0, 0.106), rgba(255, 255, 255, 0.059));
    border: 1px solid rgb(245, 245, 245, 0.1);
}
.navMenu {
    padding: 15px;
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
}
.active{
    color: aliceblue;
    font-weight: 600;
}