.userItem{
    width: 250px;
    height: fit-content;
    padding: 20px;
    border-radius: 8px;
    background-color: aliceblue;
    border: 1px solid rgba(9, 9, 9, 0.068);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.161);
    position: relative;
}
.contactContainer{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}
.userInfo{
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.userName{
    display: flex;
    align-items: center;
}
.icon{
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btns{
    display: flex;
    justify-content: right;
}