.form{
    width: 300px;
    padding: 25px;
    border: 1px solid aliceblue;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.form-field{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input-field[type=text], .input-field[type=number]{
    padding: 10px 25px 10px 25px;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid aliceblue;
    outline: none;
}
.form-btn{
    background-color: #4234dd;
}